node_modules/
*/node_modules/
dist/
build/
.env
.env.local
.env.production
feed.xml
rss
media
best_images
discarded_images
venv
scripts
data
.DS_Store
data/
rss/
media/
backups/
.wwebjs_auth/
.wwebjs_cache/
.log
npm-debug.log
Thumbs.db
.vscode/
.idea/
docker-compose.install.yml
pycache/
*.pyc
*.pyo
session-data.json